


  .welcome {
    text-align: left;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  

.welcome{
    font-size:xxx-large; ;
    color: #0915f7;
    font-weight: 1000;
    position: absolute;
    left: 50px;
    font-family:serif;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
 
  @keyframes slideIn {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .wake {
    position: absolute;
    font-family: serif;
    font-weight: 1000;
    font-size: xx-large;
    top: 32%;
    left: 50px;
    animation: slideIn 1s ease-in-out;
    
  }
  
  .work {
    position: absolute;
    font-family: serif;
    font-weight: 1000;
    font-style: initial;
    font-size: xxx-large;
    top: 38%;
    left: 50px;
    animation: slideIn 1s ease-in-out;
  }
  

   
.para{
    position: relative;
    top: 200px;
    left: 2%;
    text-align:left;

}

.image{
    position: absolute;
    top: 20%;
    left: 55%;

}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
 
  .get-started {
    position: absolute;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0109f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 60%;
    left: 2%;
    animation: pulse 1.5s infinite alternate;
  }
  
  .get-started:hover {
    background-color: #7a3cc7;
  }
  
  