/* Normal CSS equivalent of Tailwind CSS classes */
.vaccinate-container{
  
  background-color: aliceblue;
  display: flex;
    width: 50%; /* w-1/2 */
    margin-left: auto; /* mx-auto */
    margin-right: auto; /* mx-auto */
    gap: 1rem; /* gap-10 */
    height: 500px; /* h-screen */
    align-items: center; /* items-center */
    margin-top: 100px;
    border-radius: 20px;
  
}
.custom-grid {
  width: 24rem; /* Equivalent to 'w-96' */
  height: 24rem; /* Equivalent to 'h-96' */

}
.custom-date-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}
.date-content-upper{
  height: 3.5rem;
  border-top: 1px solid rgba(118, 116, 116, 0.417);
  display: grid;
  place-content: center;
  font-size: 0.875rem;
}
.gray-text-number {
  color: rgb(187, 192, 192);
}

.red-color-today {
  background-color: rgb(238, 51, 51);
  height: 40px;
  width: 40px;
  border-radius: 30px;
  display: grid;
  place-content: center;
  color: white;
}
.date-content-upper:hover {
  
  background-color: black;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  place-content: center;
  border-radius: 30px;
}
.vaccine-details-display{
  height: 24rem; /* h-96 */
  width: 24rem; /* w-96 */
  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem; /* px-5 */
}
.Today-division{
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
}
.Today-tag{
  cursor: pointer; /* cursor-pointer */
}
.previous-button{
  width: 1.25rem; /* w-5 */
  height: 1.25rem; /* h-5 */
  cursor: pointer; /* cursor-pointer */
}
.next-button{
  width: 1.25rem; /* w-5 */
  height: 1.25rem; /* h-5 */
  cursor: pointer; /* cursor-pointer */
}
.month-year-division{
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
}
.month-tag{
  font-weight: 600; /* font-semibold */
}
.command-adding{
  font-weight: 600; /* font-semibold */
}
