@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:wght@600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

h1{
  font-family: 'Anton', sans-serif;
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  font-weight: 1000;
  color: rgba(255, 255, 255, 0.9); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  background-image: linear-gradient(to right, rgba(92, 164, 227, 0.692), rgba(60, 80, 255, 0.4)); 
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin: 0;
  padding: 20px;
  text-align: center;
  transition: color 0.3s ease, text-shadow 0.3s ease; 
}






.container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.container img {
  width: 50%;
  height: 70%;
}
.Name{
  width:280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.Name:hover{
  transform: translateY(20px);
}
.Name:before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(92, 164, 227, 0.692),rgba(60, 80, 255, 0.4));
 
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.Name:hover:before{
  opacity: 1;

}
.Name img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
 left: 0;
}
.Name .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transition: 0.5s all;
  transform: translateY(30px);
  
}

.Name:hover .info{
  opacity: 1;
  transform: translateY(0px);

}
.Name .info  .h4{
  margin: 0;

}
.Name .info .p{
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

h2{
  text-align: center; 
  color: #fff; 
  font-family: 'Anton', sans-serif, 'EB Garamond', serif; 
  font-size: 24px; /* Font size */
  font-weight: 700; /* Font weight */
  line-height: 1.2; /* Line height */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Letter spacing */
  margin-bottom: 20px; /* Add space below the heading */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.para{
  font-family: 'Arial', sans-serif; 
  font-size: 18px;
  line-height: 1.6; 
  color: #333;  
  padding: 20px; 
  border-radius: 10px; 
  width: 70%; 
  margin: 0 auto; 
  text-align: center;
}
.container .info {
  display: flex;
  flex-direction: column;
}

.container .info .linkedin-link {
  display: block; /* Set display to block to make the anchor appear on a new line */
}
