*{
    box-sizing: border-box;
}
.navbar {
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 15px 7%;
    width: 100%;   
}
.navbar a{
    content: inherit;
    text-decoration: none;
    color: #000000;
}
.logoImg {
    width: 80px;
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    z-index: 1; /* Ensure the content is above the pseudo-element */
    transition: transform 0.3s; /* Adding a smooth transition effect */
}
ul li.active{
    background-color: #555;
}

ul li:hover {
    transform: scale(1.1); /* Scale the item on hover */
    color: #363535; /* Change the color to your desired hover color */
}

ul li:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 120px;
    border-radius: 30px;
    background-color: rgb(171, 212, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.profileImg {
    width: 50px;
    cursor: pointer;
}
