.userprofile{
    display: flex;
    flex-direction: column;
    background-color:#5393cf ;
}

.profile-heading h2 {
    font-size: 40px;
    color: #ffffff; /* Dark text color */
    padding-bottom: 2ch;
  
}
.profile-heading{
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.User-profile {
    background-color: rgba(255,255,255,0.4);
    width: 50%; /* Set width to 70% */
    height: 500px; /* Set height to auto */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Arrange items vertically */
    text-align: center; /* Align text centered */
    border-radius: 5%; /* Set border-radius to achieve circular shape */
    position: absolute; /* Use absolute positioning to center */
    top: 57%; /* Align to 50% from top */
    left: 50%; /* Align to 50% from left */
    transform: translate(-50%, -50%); /* Adjust for centering */
    border-color: white;
    border-style: double;
}

.User-profile img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 25px;
}
.user-name1,.user-email,.user-age,.user-id{
    color: white;
    font-size: 130%;
    background-color: rgba(28, 70, 106, 0.4);;
    margin: 1rem;
    border-radius: 10px;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
   
}
.user-data{
    color: black;
    font-weight: 200;
    font-size: 130%;
    border-radius: 20px;
    width: 450px;
    height: 50px;
    background-color: rgb(222, 220, 220);
    box-shadow: 5px 5px 10px rgba(100, 98, 98, 0.4);
}
.user-image img{
    animation: bump 0.5s ease infinite alternate;
}

@keyframes bump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.user-info > div {
    display: flex;
    margin-bottom: 8px; /* Add margin between each user data pair */
}
.user-info {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1200px){
  .user-name1,.user-email,.user-age,.user-id{
    width: 140px;

  }
  .user-data{
    width: 300px;
    font-size: 100%;
  }

}
@media only screen and (max-width: 768px){
  .user-name1,.user-email,.user-age,.user-id{
    width: 80px;
    font-size: 95%;

  }
  .user-data{
    width: 200px;
    font-size: 70%;
  }

}
@media only screen and (max-width: 480px){
  .user-name1,.user-email,.user-age,.user-id{
    width: 80px;
    font-size: 95%;
  }
  .user-data{
    width: 200px;
    font-size: 70%;
  }
  .User-profile{
    width:80%;
  }

}
@media only screen and (max-width: 480px){
  .user-name1,.user-email,.user-age,.user-id{
    width: 80px;
    font-size: 95%;
  }
  .user-data{
    width: 200px;
    font-size: 70%;
  }
  .User-profile{
    width:90%;
  }

}