.all-content{
    background-color: #C6DEF1;
    
}
.dogImage{
    width: 550px;
    align-items: right;
    position: absolute; /* Use absolute positioning */
    right: 130px; /* Align to the right */
    top: 250px;
}
.first_content{
    color: #040006;
    font-size: 50px;
    font-family: 'Inter';
    font-weight: 300;
    word-wrap: break-word;
}
.text{
    position: absolute;
    left: 150px;
    top: 230px;
}
.second_content{
    color: #3C50FF;
    font-size: 50px;
    font-family: 'Inter';
    font-weight: 800;
    word-wrap: break-word;
}
.last_txt{
    position: relative;
    top: 30px;
}
.features-button {
    width: 150px;
    height: 40px;
    background-color: #5ca4e3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    margin-left: 1px;
    cursor: pointer;
    position: relative; /* Add relative positioning to the parent */
    overflow: hidden; /* Ensure that the pseudo-element does not overflow */
    color: #000000 !important;
    text-decoration: none !important;
}

.features-button:hover {
    transform: scale(1.1);
    color: #000000;
}

.features-button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 37px;
    width: 120px;
    border-radius: 30px;
    background-color: #5ca4e3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.3s; /* Add a smooth transition effect */
}

.features-button:hover::before {
    opacity: 1; /* Change opacity on hover to make the pseudo-element visible */
}
.playImage{
    width: 11px;
}