/* Extra Small (XS) */
@media screen and (max-width: 576px) {
  /* CSS rules for extra small screens */
}

/* Small (SM) */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* CSS rules for small screens */
}

/* Medium (MD) */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* CSS rules for medium screens */
}

/* Large (LG) */
@media screen and (min-width: 992px) {
  /* CSS rules for large screens */
}


.App-mdeical{
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #C6DEF1;
  height: 100%;
}

.medical-h2{
  color: rgb(0, 0, 0);
  font-size: 50px;
}

.pet-background {
  background-image:url(../../../assets/medicalDetailsBgd.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 6px rgba(183, 30, 30, 0.1);
  padding-bottom: 100px;
}

.medical-details,
.pdf-upload {
  background-color: #fcfcfc;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pdf-content{
  padding: 20px;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(0, 0, 0);
}

.note {
  background-color: #C6DEF1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(33.333% - 10px);
  position: relative;
}

.note-content {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  min-height: 100px;
}

.note-actions {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.input-medical-details{
  width: 100%;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  
}

.cancel-btn-edit{
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn-edit:hover {
  background-color: #45a049;
}

embed {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}