.forgotPw-content{
    background-color: rgba(186, 213, 228, 0.603);
    position: absolute;
    top: 45%;
    left: 10%;
    width: 600px;
    height: 200px;
    border-radius: 20px;
}
.forgotPw-content h3{
    position: absolute;
    top: 10%;
    left: 10%;
}
.forgotPw-content p{
    position: absolute;
    top: 23%;
    left: 10%;
}