.main_content{
    width: 1300px; /* Set the width of the box */
    height: 650px; /* Set the height of the box */
    background-color: #ffffff91;  /* Set the background color */
    border-radius: 100px; /* Set the border-radius for rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; /* Center the box horizontally */
    margin-top: 15px; /* Adjust the top margin as needed */
}
.dogImage{
    width: 550px;
    align-items: right;
    
    position: absolute; /* Use absolute positioning */
    right: 130px; /* Align to the right */
    top: 250px;
}